@tailwind base;
@tailwind components;
@tailwind utilities;

.textcheck {
    background-image: linear-gradient(transparent 10%, currentColor 30%, currentColor 70%, transparent 90%);
	-webkit-background-clip: text;
    background-clip: text;
    background-attachment: fixed;
  }
  .textcheck > * {
    color: transparent;
  }
  .circular-animation {
    position: relative;
    display: inline-block;
    transform: translate(0, -50%);
    animation: circularPath 6s linear infinite;
    transition: transform 0.3s ease-in-out;
  }
  
  @keyframes circularPath {
    0% {
      transform: translate(0, -50%) rotate(0deg);
    }
    100% {
      transform: translate(0, -50%) rotate(360deg);
    }
  }
  
  